.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 1rem;
} 

.poke__home-img {
    display: flex;
    position: inherit;
    height: 121px; 
}

.poke__home-title {
    color: #fe1936;
    font-size: 45px;
    justify-content: center;
    text-align: center;
}

.poke__home-paragraph {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3em;
}


.poke__home-form {
    display: flex;
    justify-content: center;
}

.poke__home-inp {
    width: 100%;
    max-width: 300px;
    height: 3em;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 0.5em 0.8em;
    border-radius: 0.5em 0 0 0.5em;
    border: none;
    box-shadow: 0 0.1em 0.3em #0007;
}

.poke__home-btn {
    font-size: 1.2rem;
    height: 3em;
    padding: 0.5em 2em;
    box-shadow: 0 0.1em 0.3em #0004;
    background-color: #D93F3F;
    border-radius: 0 0.5em 0.5em 0;
    color: white;
    cursor: pointer;
    transition: filter 50ms ease;
}

.poke__home-btn:hover {
    filter: brightness(1.1);
    box-shadow: 0 0.2em 0.4em #0005;
}

@media screen and (min-width: 800px) {
    .poke__home-title {
        font-size: 2.5rem;
    }
    .poke__home-paragraph,
    .poke__home-inp,
    .poke__home-btn {
        font-size: 1.2rem;
    }
} 

.footer{
    position: absolute;
    width: 100%;
    bottom: 0; 
}
