* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f7f7f7;
  }
  h1, h2, h3, p, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  img {
    display: block;
    width: 100%;
  }
  input {
    outline: none;
    font-family: inherit;
  }
  button {
    border: none;
  }