.card {
    width: 100%;
    max-width: 380px;
    border-radius: 1em;
    border: 12px solid black;
    overflow: hidden;
    transition: transform 150ms ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card__header {
    height: 200px;
    background-color:rgb(144, 144, 144);
    position: relative;
    margin-bottom: 50px;
}

.card__avatar {
    width: 70%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.card__name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0.2em;
}

.card__type-list {
    display: flex;
    justify-content: center;
    gap: 1.2em;
    margin-bottom: 1em;
}

.card__type-item {
    text-transform: capitalize;
    position: relative;
    margin-bottom: 0.3em;
}

.card__type-item:nth-child(2)::before {
    content: '/';
    position: absolute;
    left: -12px;
}

.card__hr {
    border: none;
    border-top: 1px solid #7779;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
}

.card__stat-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0.5em 1.5em;
    gap: 0.8em 0.1em;
}

.card__stat-item {
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
}

.card__stat-name {
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
    color: #7779;
}

.card__stat-number {
    font-size: .8em;
    font-weight: 600;
}

.bg-grass {
    background-image: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
}

.bg-fire {
    background-image: linear-gradient(176.37deg, #F96D6F -32.26%, #E35825 22.55%, #E8AE1B 125.72%);;
}

.bg-water {
   background-image: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.bg-bug {
    background-image: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);;
}

.border-grass {
    border-color: #ABDAC6;
    border-radius: 9px 9px 7px 7px;
}

.border-fire {
  border-color:   #E35825;
  border-radius: 9px 9px 7px 7px;
}

.border-water {
    border-color: #1479FB;
    border-radius: 9px 9px 7px 7px;
}

.border-bug {
    border-color: #3BB039;
    border-radius: 9px 9px 7px 7px;
}

.color-grass {
    color: #5a9e9d;
}

.color-fire {
    color: #E35825;
}

.color-water {
    color: #1479FB;
}

.color-bug {
    color: #3BB039;
}